@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-yellow-500 {
  background-color: yellow !important;
  color: #1b1b1b;
}

.bg-violet-500 {
  background-color: blueviolet!important;
}

.bg-white-500 {
  background-color: whitesmoke!important;
  color: #1b1b1b!important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}